.items-container{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 40%;
    height: calc(100vh - 240px);
    overflow-y: scroll;
    background: white;
    color: black;
    border: 2px solid #83afad;
    border-radius: 4px;
}

.items-list-left-header{
    display: flex;
    padding: 0 50px;
}

.item{
    display: flex;
    padding: 0 50px;
    text-transform: capitalize;
    cursor: pointer;
}
