.items-container{
    width: 100%;
    height: calc(100vh - 270px);
    overflow-y: scroll;
    background: white;
    color: black;
    border: 2px solid #83afad;
    border-radius: 4px;
}

.items-list-block{
    display: block;
    float: left;
    width: 40%;
}

.items-list-block-title{
    color: #83afad;
    margin-bottom: 30px;
}

.inactive-item{
    display: flex;
    padding: 0 50px;
    text-transform: capitalize;
    cursor: pointer;
}

.active-item{
    display: flex;
    padding: 0 50px;
    background: burlywood;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
}
